
.container {
    position: relative;
    display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  // width:90%;
  }
  .overlay {

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    // height: fit-content;
    width: 100%;
  }
  
  .overlay h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .overlay h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .overlay p {
    font-size: 16px;
    margin-bottom: 6px;
  }
  
  .translate {
    opacity: 0;
    // transform: translateY(20px);
    animation: translateAnimation 0.5s ease-in-out forwards;
    // width: 100%;
  }
  
  @keyframes translateAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .textGroup {
    width: 700px;
    position: absolute;
    bottom: 10px;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 35%;
   
    // display: flex;
    // flex-direction: row;
  }
  